*
{
    margin: 0;
    padding: 0;   
}

body
{
    
}

.logo
{
    
}

footer
{
   
}
/*************************************/
.attribution 
{
  font-size: 12px;
  text-align: center;
}

.attribution a
{
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 768px) 
{  
    footer
    {   
        position: fixed;
        height: fit-content;
        bottom: -10px;
        width: 90%;
    }
}
